HOME            = {{ directory }}
RANDFILE        = $ENV::HOME/.rnd

####################################################################
[ req ]
prompt              = no
default_bits        = 2048
default_keyfile     = admin-key.pem
distinguished_name  = admin_distinguished_name
req_extensions      = admin_req_extensions
string_mask         = utf8only

####################################################################
[ admin_distinguished_name ]
organizationName    = kube-aws
commonName          = kube-admin

####################################################################
[ admin_req_extensions ]
keyUsage             = critical, digitalSignature, keyEncipherment
extendedKeyUsage     = clientAuth
